# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.pio/build/BOARD_CUSTOM/idedata.json
.vscode/c_cpp_properties.json
.pio/build/BOARD_CUSTOM/.sconsign312.dblite
.pio/build/BOARD_CUSTOM/firmware.bin
.pio/build/BOARD_CUSTOM/firmware.elf
.pio/build/BOARD_CUSTOM/firmware.map
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
